'use strict';

var utils = require('../utils/writer.js');
var {{_current_schema}} = require('../service/{{_current_schema}}Service');

{% for path in paths[_current_tag] %}
module.exports.{{path.function_name}} = function {{path.function_name}} (req, res, next) {
  var body = req.swagger.params['body'].value;

  {% for param in path.parameters %}
  var {{param}} = req.swagger.params['{{param}}'].value; 
  {% endfor %}
  {% if path.method == 'post' or path.method == 'put' %}Pet.{{path.function_name}}(body)
  {% else %}Pet.{{path.function_name}}({% for param in path.parameters %}{{param}}{% endfor %}){% endif %}
    .then(function (response) {
      utils.writeJson(res, response);
    })
    .catch(function (response) {
      utils.writeJson(res, response);
    });
};
{% endfor %}